USE [master]
GO
/****** Object:  Database [print]    Script Date: 8/4/2025 12:13:35 PM ******/
CREATE DATABASE [print]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'print', FILENAME = N'E:\MSSQLSERVER22016MedN\MSSQL13.MSSQLSERVERMEDN\MSSQL\DATA\print.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'print_log', FILENAME = N'E:\MSSQLSERVER22016MedN\MSSQL13.MSSQLSERVERMEDN\MSSQL\DATA\print_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [print].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [print]
GO
USE [print]
GO
/****** Object:  User [medserver\sa]    Script Date: 8/4/2025 12:13:35 PM ******/
CREATE USER [medserver\sa] FOR LOGIN [MEDSERVER\sa] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Entries]    Script Date: 8/4/2025 12:13:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BranchCodeUnion] [nvarchar](50) NOT NULL,
	[UnionCode] [nvarchar](50) NOT NULL,
	[Type] [nvarchar](255) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Specifications] [nvarchar](255) NOT NULL,
	[Dispensed] [decimal](18, 2) NOT NULL,
	[Remaining] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LKP_Branches_Hndsat]    Script Date: 8/4/2025 12:13:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LKP_Branches_Hndsat](
	[branch_code_union] [int] NOT NULL,
	[branch_name_union] [nvarchar](255) NULL,
	[union_code] [int] NOT NULL,
	[hndsa_name_union] [nvarchar](255) NULL,
	[hndsa_code_mnzlee] [int] NULL,
	[hndsa_code_msaleh] [int] NULL,
	[hndsa_code_large] [int] NULL,
	[hndsa_code_prepaid] [int] NULL,
	[cross_hndsa_code_prepaid_msaleh] [int] NULL,
	[cross_hndsa_code_prepaid_mnzlee] [int] NULL,
	[Flag_sho3a3_reading] [int] NULL,
 CONSTRAINT [PK_LKP_Branches_Hndsat] PRIMARY KEY CLUSTERED 
(
	[branch_code_union] ASC,
	[union_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Entries] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
USE [master]
GO
